<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484435119346-abtk5ep5jvc3f6lum5vugqnhburfio0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484435119346-abtk5ep5jvc3f6lum5vugqnhburfio0h</string>
	<key>API_KEY</key>
	<string>AIzaSyAizxVkouxEi6PMMXr5IJMlPAW7mCbLEz4</string>
	<key>GCM_SENDER_ID</key>
	<string>484435119346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rnf8</string>
	<key>PROJECT_ID</key>
	<string>rnf8-20c45</string>
	<key>STORAGE_BUCKET</key>
	<string>rnf8-20c45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484435119346:ios:bfdb670a68165857</string>
	<key>DATABASE_URL</key>
	<string>https://rnf8-20c45.firebaseio.com</string>
</dict>
</plist>